<div class="container">
    <h1>Users List</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td class="button-right-direction">
              <%= button_to 'Edits', user_path(user), method: :get, class: 'edit-button' %>
              <%= button_to 'Delete', delete_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New User', new_user_path, class: 'new-button' %>
  </div>