<nav>
  <div>
    <ul class="nav-links">
      <li class="link"><a href="#"><%= link_to "Posts", posts_path %></li>
      <li class="link"><a href="#"><%= link_to "Users", users_path %></li></li>
    </ul>

  </div>
</nav>